.developers {
    padding-top: 3px;
    padding-left: 25px;
}

.total-developer {
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
    color: rgb(4, 161, 101);
    font-weight: 600;

}