.nav-item a {
    font-size: 18px;
    font-weight: 600;
}

.navbar-brand {
    font-weight: 500;
    color: #ddd;
    letter-spacing: 1px;
}

.title {
    text-align: center;
    color: rgb(248, 6, 6);
    font-weight: 600;
    padding-top: 15px;
}

.sub-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}